<div class="container">
<div class="editorwrap row">

    <!-- Markdown Editor -->
    <section class="entry-markdown col-md-6 col-xs-1">
        <header class="floatingheader">
            <small>Markdown</small>
            <a class="markdown-help" href="#"><span class="hidden">What is Markdown?</span></a>
        </header>
        <section class="entry-markdown-content">
<textarea id="entry-markdown">
### What about Images?

![A placeholder for image]

Images work too! Already know the URL of the image you want to include in your article? Simply paste it in like this to make it show up:

![A bowl of bananas]

![The Ghost Logo](http://tryghost.org/ghost.png)

Not sure which image you want to use yet? That's ok too. Leave yourself a descriptive placeholder and keep writing. Come back later and drag and drop the image in to upload:

![A bowl of bananas]
</textarea>
        </section>
    </section>
    <!-- Markdown Editor END-->

    
    <!-- Markdown Preview -->
    <section class="entry-preview active col-md-6 col-xs-1">
        <header class="floatingheader">
            <small class="pull-left">Preview</small>
            <small class="pull-right"> <span class="entry-word-count js-entry-word-count">77 words</span></small>
        </header>
        <section class="entry-preview-content">
            <div class="rendered-markdown"></div>
        </section>
    </section>
    <!-- Markdown Preview END-->
</div>
</div>